 <li>
	<div class="heading">
		<h1>LIFESTYLE</h1>
		<span>I.T. Everywhere</span> 
	</div>
	<div class="cd-half-width second-slide">   
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <div class="content second-content">
				<div class="row slide1_part1">
				  <div class="col-md-4  ">
					<img src="assets/img/story/dj.svg"  alt="dj">
				  </div>
				  <div class="col-md-8 ">
					<div class="story_text_right_slide1">
						<h4 class="slide_title" >STAGE SHOWS <em class="slide_date" >1997-2013</em></h4><br/>
						<p class="slide_text" >For years, i've been involved in musical activities. As an artist first and later as an event and recording session promoter. This time spend on both sides of stages has allowed me to increase:  <br/>
						<br/>
												
								<div class="infobulle ">
									<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Public speech<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/4_stars.html')}}</span></p>
								</div>
								<div class="infobulle ">
									<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Multi-task organization<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
								</div>
								<div class="infobulle ">
									<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Budget management<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/4_stars.html')}}</span></p>
								</div>
								<div class="infobulle ">
									<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Social media strategy<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/4_stars.html')}}</span></p>
								</div>
								<div class="infobulle ">
									<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Street marketing<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
								</div>
								<div class="infobulle ">
									<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>english speaking<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
								</div>
								<div class="infobulle ">
									<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Negociation<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
								</div>
								
								
							<br/>
						<div class="nav_button col-md-3">
							<div class="col-md-4"><i class="fa fa-home" aria-hidden="true"></i></div>
							<div class="col-md-4"><i class="fa fa-folder-open" aria-hidden="true"></i></div>
							<div class="col-md-4"><i class="fa fa-download" aria-hidden="true"></i></div>
					  	</div>
					</div>
				  </div>
				</div>
				<div class="row">
				  <div class="col-md-7">
					<div class="left-about-text">
					  <h3 class="slide_title" >BASKETBALL <em class="slide_date">1991-2018</em></h3>
					  <p class="slide_text">Sport is my best anti stress. Playing championship basketball helps to put forward:   </p> <br/> 
					  
							<div class="infobulle ">
								<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Team spirit<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/4_stars.html')}}</span></p>
							</div>
							<div class="infobulle ">
								<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Surpassing<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/4_stars.html')}}</span></p>
							</div>
							<div class="infobulle ">
								<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Leadership<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
							</div>
							<div class="infobulle ">
								<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Strategy<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
							</div>
								
					  	<div class="nav_button col-md-3">
							<div class="col-md-4"><i class="fa fa-home" aria-hidden="true"></i></div>
							<div class="col-md-4"><i class="fa fa-folder-open" aria-hidden="true"></i></div>
							<div class="col-md-4"><i class="fa fa-download" aria-hidden="true"></i></div>
					  	</div>
					</div>
				  </div>
				  <div class="col-md-5 ">
					<img src="assets/img/story/bball.svg" class="bball_img" >
				  </div>
				</div>
			  </div>
			</div>
		  </div>                  
		</div>
	</div>
</li>
