<li class="selected">
  <div class="heading">
	<h1>Work ethic</h1>
	<span class="subtitle">The Art of human's relationship</span>
  </div>
  <div class="cd-full-width first-slide">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="content story_content">
			
			<div class="work_ethic">
				<div class="col-md-3">
					<div class="story_icon"><img src="assets/img/story/team.svg" alt="teamwork"></div><h3 class="ethic_title">TEAM WORK</h3>
					<div class="story_text"><p>Prevent malfunction and bring bests practices from différents working domain</p></div>
				</div>
				<div class="col-md-3">
					<div class="story_icon"><img src="assets/img/story/superhero.svg" alt="teamwork"></div><h3 class="ethic_title">AUTONOMY</h3>
					<div class="story_text"><p>Take initiatives in a framework defined with teammates and hierarchy.</p></div>
				</div>
				<div class="col-md-3">
					<div class="story_icon"><img src="assets/img/story/teamwork.svg" alt="teamwork"></div><h3 class="ethic_title">FLEXIBILITY</h3>
					<div class="story_text"><p>Be adaptable to different kind of working environment.</p></div>
				</div>
				<div class="col-md-3">
					<div class="story_icon"><img src="assets/img/story/head.svg" alt="teamwork"></div><h3 class="ethic_title">INOVATION</h3> 
					<div class="story_text"><p>Feeling the trends to being an actor of the I.T. evolutions. </p></div>
				</div>
			</div>
			
					<div class="nav_button_ethic col-md-2">
							<div class="col-md-4"><i class="fa fa-home" aria-hidden="true"></i></div>
							<div class="col-md-4"><i class="fa fa-folder-open" aria-hidden="true"></i></div>
							<div class="col-md-4"><i class="fa fa-download" aria-hidden="true"></i></div>
					  	</div>
			
		  </div>
		</div>
	  </div>                  
	</div>
  </div>
</li>
       