 <li>
	<div class="heading">
		<h1>PREVIOUS</h1>
		<span>I.T. Everywhere</span> 
	</div>
	<div class="cd-half-width second-slide">   
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <div class="content second-content">
				<div class="row slide1_part1">
				  <div class="col-md-4 weelchair">
					<img src="assets/img/story/wheelchair.svg" class="weelchair_img" alt="Social work">
				  </div>
				  <div class="col-md-8 ">
					<div class="story_text_right_slide1">
						<h4 class="slide_title" >SOCIAL WORKER <em class="slide_date" >1998-2007/2013-2016</em></h4><br/>
						<p class="slide_text" >Being a social worker was a rewarding experience. Helping children and adults with handicaps to take them part of our society, trained me to:  <br/>
						<br/>
												
						<div class="infobulle ">
							<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Editorial quality<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/4_stars.html')}}</span></p>
						</div>
						<div class="infobulle ">
							<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Networking<span class="stars" style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
						</div>
						<div class="infobulle ">
							<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Project management<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
						</div>
						<div class="infobulle ">
							<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Empathy<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/4_stars.html')}}</span></p>
						</div>
						<div class="infobulle ">
							<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Conflict management<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
						</div>
							
							<br/>
						<div class="nav_button col-md-3">
							<div class="col-md-4"><i class="fa fa-home" aria-hidden="true"></i></div>
							<div class="col-md-4"><i class="fa fa-folder-open" aria-hidden="true"></i></div>
							<div class="col-md-4"><i class="fa fa-download" aria-hidden="true"></i></div>
					  	</div>
					</div>
				  </div>
				</div>
				<div class="row">
				  <div class="col-md-7">
					<div class="left-about-text">
					  <h3 class="slide_title" >STONE MASON <em class="slide_date">2007-2013</em></h3>
					  <p class="slide_text">From employe to self entreprenor, working on building sites with multiples professions is an opportunity to work on :  </p> <br/> 
					  
							<div class="infobulle ">
								<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Customer relation<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
							</div>
							<div class="infobulle ">
								<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Efficiency<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/4_stars.html')}}</span></p>
							</div>
							<div class="infobulle ">
								<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Unplanned management<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
							</div>
							<div class="infobulle ">
								<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Delays and costs<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/3_stars.html')}}</span></p>
							</div>
							<div class="infobulle ">
								<p class="slide_list " ><i class="fa fa-check-square-o" aria-hidden="true"></i>Co-working<span class="stars " style="text-align:center;">{{ include('Home/Slides/Stars/4_stars.html')}}</span></p>
							</div>
								
							
					  	<div class="nav_button col-md-3">
							<div class="col-md-4"><i class="fa fa-home" aria-hidden="true"></i></div>
							<div class="col-md-4"><i class="fa fa-folder-open" aria-hidden="true"></i></div>
							<div class="col-md-4"><i class="fa fa-download" aria-hidden="true"></i></div>
					  	</div>
					</div>
				  </div>
				  <div class="col-md-5 ">
					<img src="assets/img/story/builder.svg" class="slide_img_down" alt="builder" >
				  </div>
				</div>
			  </div>
			</div>
		  </div>                  
		</div>
	</div>
</li>
