.story_icon{
	width: 25%;
	margin: auto;
	
}
h3.ethic_title{
	color: #330099;
}

div.content.story_content{
	
	height: 300px;
	
}
.work_ethic, div.story_text, div.primary-button.col-md-12{
	margin-top: 2%;
	
}
/*Slide 2*/

img.weelchair_img{
	width: 50%;
	
}
img.bball_img{
	width: 90%;
	margin-left: 12.5%;
		
}
div.col-md-4.weelchair{
	margin-top: 15%;
}

i.fa.fa-check-square-o{
	color: #ff6633;
	padding-right: 1%;
}
.nav_button{
	background-color: #330099;
border-radius: 10px;
	margin-left: 60%;
}
.nav_button_ethic{
	background-color: #330099;
border-radius: 10px;
	margin: 2% 0 0 42%
}

.slide_title{
	font-weight: bold;
	font-size: 3em;
	color: #fff;
	background-color: #330099;
	border-radius: 5px;
	text-align: center;
}
.slide_date{
	font-size: 0.3em;
	color: #ff6633;
}
.slide_text{
	font-size: 1.2em;
	text-align: left;
}
.slide_list{
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
	margin-left: 20%;
}
img.slide_img_down{
	width: 70%;
}
div.story_text_right_slide1{
	margin-left: 10%;
	text-align: right;
	
}

div.row.slide1_part1{
	margin: 3%
}
p.story_text_right_slide1{
	font-size: 2em;
}

/*Project*/

.project_display { 
  text-decoration:none; 
  position:relative; 
} 
.project_display .tools { 
	position: relative;
  display:none; 
  -moz-border-radius:25px; 
  -webkit-border-radius:25px; 
  border-radius:25px; 
  color: #fff; 
  background-color: #fff;
 
  font-size:10px; 
  font-style:italic; 
} 

.project_display:hover .tools 
{ 
	text-decoration: none; 
display:block; 
  position:absolute; 
  top:0; 
  left:0; 
  z-index:1000; 
  width: 50%;
  /* max-width:200px; */ 
 
  
  margin-top:15%; 
  margin-left:25%; 
   
  padding:3px; 
}
.tool_img{
	width: 20%;
	margin: 5%;
	
}
.display-tools{
	display: flex;
}
.tool{
	width: 75%;
}