<div class="nav_button_menu col-md-8 col-xs-12 ">
	<a href="{{ path('index') }}"><div class="col-md-2 col-xs-2"><i class="fa fa-home" aria-hidden="true" title="Home"></i></div></a>
	<a href="{{ path('story') }}"><div class="col-md-2 col-xs-2"><i class="fa fa-user-circle" aria-hidden="true" title="About me"></i></div></a>
	<a href="{{ path('project') }}"><div class="col-md-2 col-xs-2"><i class="fa fa-folder-open" aria-hidden="true" title="Projects"></i>
	</div></a>
	<a href="{{ path('app_credits') }}"><div class="col-md-2 col-xs-2"><i class="fa fa-info-circle" aria-hidden="true" title="App's informations"></i>
	</div></a>
	<a href="../public/assets/dl/resume-farant.pdf" download><div class="col-md-2 col-xs-2"><i class="fa fa-download" aria-hidden="true" title="Download resume"></i></div>
	</a>
	<a href="{{ path('security_logout') }}"><div class="col-md-2 col-xs-2"><i class="fa fa-power-off" aria-hidden="true" title="Log out"></i>
	</div></a>
</div>