<div class="nav_button_menu col-md-8 col-xs-8 ">
	<a href="{{ path('index') }}"><div class="col-md-2 col-xs-2"><i class="fa fa-home" aria-hidden="true" title="Home"></i></div></a>
	<a href="{{ path('story') }}"><div class="col-md-2 col-xs-2"><i class="fa fa-user-circle" aria-hidden="true" title="About me"></i></div></a>
	<a href="{{ path('project') }}"><div class="col-md-2 col-xs-2"><i class="fa fa-folder-open" aria-hidden="true" title="Projects"></i>
	</div></a>
	<a href="{{ path('app_infos') }}"><div class="col-md-2 col-xs-2"><i class="fa fa-info-circle" aria-hidden="true" title="App's informations"></i>
	</div></a>
	<a href="{{ path('security_login') }}"><div class="col-md-2 col-xs-2"><i class="fa fa-power-off" aria-hidden="true" title="Log in"></i>
	</div></a>
	<a href="{{ path('user_registration') }}"><div class="col-md-2 col-xs-2"><i class="fa fa-user-plus" aria-hidden="true" title="Register"></i>
	</div></a>
</div>
