<li>
  <div class="heading">
	<h1>Playground</h1>
	<span>Pratice makes perfect</span> 
  </div>
  <div class="cd-half-width fourth-slide">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="content fourth-content">
			<div class="row">
			  <div class="col-md-3 project-item">
				<a href="{{ path('security_login')}}" >
					<div class="yardIcon">
						<img src="assets/img/lab/login.svg" class="imageLab">
						<div class="middle">
							<div class="text2">Login/Register</div>
						</div>
					</div> 
				</a>
			  </div>
			  <div class="col-md-3 project-item">
				<a href="{{ path('admin') }}" >
					<div class="yardIcon">
						<img src="assets/img/lab/dashboard.svg" class="imageLab">
						<div class="middle">
							<div class="text2">Dashboard</div>
						</div>
					</div> 
				</a>
			  </div>
			  <div class="col-md-3 project-item">
				<a href="{{ path('admin') }}" >
					<div class="yardIcon">
						<img src="assets/img/lab/stats.svg" class="imageLab">
						<div class="middle">
							<div class="text2">Analytics</div>
						</div>
					</div> 
				</a>
			  </div>
			  <div class="col-md-3 project-item">
				<a href="{{ path('admin') }}" >
					<div class="yardIcon">
						<img src="assets/img/lab/calendar.svg" class="imageLab" alt="Agenda">
						<div class="middle">
							<div class="text2">Calendar</div>
						</div>
					</div> 
				</a>
			  </div>
			  <div class="col-md-3 project-item">
				<a href="" >
					<div class="yardIcon">
						<img src="assets/img/lab/dev.svg" class="imageLab">
						<div class="middle">
							<div class="text2">Development</div>
						</div>
					</div> 
				</a>
			  </div>
			  <div class="col-md-3 project-item">
				<a href="" >
					<div class="yardIcon">
						<img src="assets/img/lab/music-player.svg" class="imageLab">
						<div class="middle">
							<div class="text2">Multimedia</div>
						</div>
					</div> 
				</a>
			  </div>
			  <div class="col-md-3 project-item">
				<a href="" >
					<div class="yardIcon">
						<img src="assets/img/lab/approve.svg" class="imageLab">
						<div class="middle">
							<div class="text2">Achievement</div>
						</div>
					</div>
				</a>
			  </div>
			  <div class="col-md-3 project-item">
			   <a href="" >
				<div class="yardIcon">
					<img src="assets/img/lab/download.svg" class="imageLab">
					<div class="middle">
						<div class="text2">Download</div>
					</div>
				</div> 
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>                  
	</div>
  </div>
</li>
