<li>
  <div class="heading">
	<h1>TOOLBOX</h1>
	<span>Tools and skills for development and project management</span> 
  </div>
  <div class="cd-half-width third-slide">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="content third-content">
			<div class="row">
			  <div class="col-md-7 left-image">

				<table >
					<caption>
						<span class="rating"><span class="fa fa-star checked"></span>In progress</span>
						<span class="rating"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>Advance</span>
						<span class="rating"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>Available</span>
						<span class="rating"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>Confirm</span>
						<span class="rating"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>Expert</span>
					</caption>
					<tbody>
						<tr>
							<td><a href="" class="infobulle"><img src="assets/img/tech/php.svg">
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>
								</a> 
						</td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/symfony.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/wordpress.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/4_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/drupal.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/2_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/linux.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/2_stars.html')}}
									</div>
								</a></td>
						</tr>
						<tr>
							<td><a href="" class="infobulle"><img src="assets/img/tech/html.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/scrum.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/2_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/github.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/jquery.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/nodejs.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/1_stars.html')}}
									</div>
								</a></td>
						</tr>
						<tr>
							<td><a href="" class="infobulle"><img src="assets/img/tech/css.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>	
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/bootstrap.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>
								</a></td>

							<td><a href="" class="infobulle"><img src="assets/img/tech/react.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/1_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/vuejs.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/1_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/ionic.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/1_stars.html')}}
									</div>
								</a></td>
						</tr>
						<tr>
							<td><a href="" class="infobulle"><img src="assets/img/tech/javascript.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/angular.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/1_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/trello.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/slack.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/google.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>
								</a></td>
						</tr>
						<tr>
							<td><a href="" class="infobulle"><img src="assets/img/tech/python.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/1_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/django.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/1_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/mysql.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/3_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/illustrator.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/4_stars.html')}}
									</div>
								</a></td>
							<td><a href="" class="infobulle"><img src="assets/img/tech/photoshop.svg" >
									<div class="stars">
										{{ include('Home/Slides/Stars/4_stars.html')}}
									</div>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			   </div>
			  <div class="col-md-5">
				<div class="right-feature-text">
				  <h4>For today and <em>Tomorrow</em></h4>
				  <p>To keep an open mind on the suitest solutions, I remain awake on evolutions of technologies about: </p>
				  <div class="feature-list">
					<ul>
					  <p>- Project management</p>
					  <p>- Collaborative work</p>
					  <p>- Developement</p>
					  <p>- Design </p>
					  <p>- SEO </p>
					</ul>
				  </div>
					{% if is_granted('ROLE_USER')%}
					  <div class="primary-button">
						<a href="{{ path('project') }}">Discover more</a>
					  </div>
					{% else %}
						<br/>
						<a href="{{ path('security_login') }}">Login</a>/<a href="{{ path('security_login') }}">Register</a> For more tools.
					{% endif %}
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>                  
	</div>
  </div>
</li>
