<li class="selected">
  <div class="heading">
	<h1 data-morph>FULL STACK DEVELOPER</h1>
	<span class="subtitle">Add a fresh look to your project.</span>
  </div>
  <div class="cd-full-width first-slide">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="content first-content">
			<h4>Experience<span id="lastLetter">s</span> are the key.</h4>
			<p><q>Different perspectives, experiences and insights, improve decision-making and lead to superior performances. </q><br/> <strong>Lynne DOUGHTIE</strong> Chairman and CEO KPMG US</p>
			{% if is_granted('ROLE_USER') %}
				<div class="primary-button">
				  <a href="../public/assets/dl/resume_farant.pdf" download><i class="fa fa-arrow-circle-o-down fa-2x" aria-hidden="true"></i> DOWNLOAD Resume</a>
				</div>
			{% else %}
				<br/>
				<a href="{{ path('security_login') }}">Login</a>/<a href="{{ path('user_registration') }}">Register</a> to download resume.
			{% endif %}
		  </div>
		</div>
	  </div>                  
	</div>
  </div>
</li>
            