<table >
	<caption>
		<span class="rating"><span class="fa fa-star checked"></span>In progress</span>
		<span class="rating"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>Advance</span>
		<span class="rating"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>Available</span>
		<span class="rating"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>Confirm</span>
		<span class="rating"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>Expert</span>
	</caption>
	<tbody>
		<tr>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/php.svg" alt="php">
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>
				</a> 
			</td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/symfony.svg" alt="symfony">
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/wordpress.svg" alt="wordpress" >
					<div class="stars">
						{{ include('Home/Slides/Stars/4_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/drupal.svg" alt="drupal" >
					<div class="stars">
						{{ include('Home/Slides/Stars/2_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/linux.svg" alt="linux" >
					<div class="stars">
						{{ include('Home/Slides/Stars/2_stars.html')}}
					</div>
				</a></td>
		</tr>
		<tr>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/html.svg" alt="html" >
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/scrum.svg" alt="scrum" >
					<div class="stars">
						{{ include('Home/Slides/Stars/2_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/github.svg" alt="github" >
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/jquery.svg" alt="jquery" >
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/nodejs.svg" alt="nodejs" >
					<div class="stars">
						{{ include('Home/Slides/Stars/1_stars.html')}}
					</div>
				</a></td>
		</tr>
		<tr>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/css.svg" alt="css" >
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>	
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/bootstrap.svg" alt="bootstrap" >
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>
				</a></td>

			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/react.svg" alt="react" >
					<div class="stars">
						{{ include('Home/Slides/Stars/1_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/vuejs.svg" alt="vuejs" >
					<div class="stars">
						{{ include('Home/Slides/Stars/1_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/ionic.svg" alt="ionic" >
					<div class="stars">
						{{ include('Home/Slides/Stars/1_stars.html')}}
					</div>
				</a></td>
		</tr>
		<tr>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/javascript.svg" alt="javascript" >
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/angular.svg" alt="angular" >
					<div class="stars">
						{{ include('Home/Slides/Stars/1_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/trello.svg" alt="trello" >
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/slack.svg" alt="slack" >
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/google.svg" alt="google" >
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>
				</a></td>
		</tr>
		<tr>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/python.svg" alt="python" >
					<div class="stars">
						{{ include('Home/Slides/Stars/1_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle"> 
					<img src="assets/img/tech/django.svg" alt="django" >
					<div class="stars">
						{{ include('Home/Slides/Stars/1_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/mysql.svg" alt="mysql" >
					<div class="stars">
						{{ include('Home/Slides/Stars/3_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/illustrator.svg" alt="illustrator">
					<div class="stars">
						{{ include('Home/Slides/Stars/4_stars.html')}}
					</div>
				</a></td>
			<td>
				<a href="" class="infobulle">
					<img src="assets/img/tech/photoshop.svg" alt="photoshop" >
					<div class="stars">
						{{ include('Home/Slides/Stars/4_stars.html')}}
					</div>
				</a>
			</td>
		</tr>
	</tbody>
</table>
				