{% extends 'base_security.html.twig' %}


{% block body %}
 	<center><a href="{{ path('index')}}"><div class="image-icon-logo"><img src="assets/img/logo/logoFlint.svg" class="logo top-corner"/></div></a>
  
	<div class="container" style="width:75%;">
		<div class="row">
			<div class="well col-md-12 col-xs-12" >
				<p>Lïft.app v1.1 january2018</p>
				<br/>
				<p>This app is a begining, not an accomplishment. <br/>Improvements will be made gradually. All remarks and suggestions are welcomed. If you have any questions about htis app, feel free to reach me. </p>
				<p>farant.cdp@gmail.com</p>
			</div>
			
			<div class="col-md-12 col-xs-12" >
				<div class="well">
					<p><strong>FRAMEWORK</strong></p>
					<ul>
						<li><a href="https://symfony.com/" target="_blank" >Symfony 4.0.3</a> </li>
					</ul>
					<p><strong>BUNDLES</strong></p>
					<ul>
						<li><a href="https://twig.symfony.com/doc/2.x/" target="_blank" >Doctrine</a> </li>
						<li><a href="http://www.doctrine-project.org/" target="_blank" >Twig</a> </li>
						<li><a href="https://github.com/javiereguiluz/EasyAdminBundle" target="_blank" >Easy admin</a> </li>
					</ul>
					<p><strong>LIBRARIES</strong></p>
					<ul>
						<li><a href="https://getbootstrap.com/" target="_blank" >Bootstrap</a> </li>
						<li><a href="https://jquery.com/" target="_blank" >Jquery</a> </li>
						<li><a href="http://fontawesome.io/icons/" target="_blank" >Fontawesome</a> </li>
						
					</ul>
					<p><strong>TEMPLATE</strong></p>
					<ul>
						<li><a href="http://www.templatemo.com/tm-503-newline" target="_blank" >Newline</a> </li>
					</ul>
					<p><strong>IMAGES</strong></p>
					<ul>
						<li><a href="https://pixabay.com/" target="_blank" ><strong>Pixabay</strong> (Mohames Hassan/basketball player)</a> </li>
					</ul>
					<p><strong>ICONS</strong></p>
					<ul>
						<li><a href="https://www.flaticon.com/" target="_blank" ><strong>Flaticons</strong> (Eucalyp)</a> </li>
						
					</ul>
			</div>
			<div class="well col-md-6 col-xs-12" >
				{{ include('Buttons/home_about_project.html')}}
			</div>
		</div>
		
	</div>
</div></center>
 {% endblock %}   