 <li>
	<div class="heading">
		<h1>MULTIMEDIA</h1>
		<span>Latest multimedia contents</span> 
	</div>
	<div class="cd-half-width second-slide">   
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <div class="content second-content">
				<div class="well">
					<div class="image-icon"><i class="fa fa-cogs fa-5x" aria-hidden="true" ></i></div>
					<h2 class="text-center">Nothing yet, i'm working on it </h2>
					<p class="text-center">Click on buttons for another action. </p>
					<p class="text-center">Regards.</p>
				</div>
				<div class="nav_button_ethic col-md-2">
					<a href="{{ path('index') }}"><div class="col-md-4"><i class="fa fa-home" aria-hidden="true" title="Home"></i></div></a>
					<a href="{{ path('story') }}"><div class="col-md-4"><i class="fa fa-user" aria-hidden="true" title="About me"></i></div></a>
					<a href="../public/dl/resume_farant.pdf" download><div class="col-md-4"><i class="fa fa-download" aria-hidden="true" title="Download resume"></i></div>
					</a>
				</div>
			  </div>
			</div>
		  </div>                  
		</div>
	</div>
</li>
