 <li>
	<div class="heading">
		<h1>MULTIMEDIA</h1>
		<span>Latest multimedia contents</span> 
	</div>
	<div class="cd-half-width second-slide">   
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <div class="content second-content">
				<div class="well">
					<div class="image-icon"><i class="fa fa-cogs fa-5x" aria-hidden="true" ></i></div>
					<h2 class="text-center">Nothing yet, i'm working on it </h2>
					<p class="text-center">Click on buttons for another action. </p>
					<p class="text-center">Regards.</p>
				</div>
				{{ include('Buttons/home_about_resume.html')}}
			  </div>
			</div>
		  </div>                  
		</div>
	</div>
</li>
