{% extends 'base_security.html.twig' %}


{% block body %}
  	
				
				<div class="well">
					{% for project in projects %}
					<p>{{ project.name }}</p>
					<br/>
					<p>{{ project.presentation }}</p>
				{% endfor %}
				</div>
			
        
  {% endblock %}   
  