<div class="cd-slider-nav container">
	<nav class="row">
	  <span class="cd-marker item-1"></span>
	  <span class="col-md-1 menuNav_home_button col-xs-2"><a href="{{ path('index') }}"><div class="image-home-logo"><img src="assets/img/logo/logoFlint.svg" class="logo"></div><h6 class="">HOME</h6></a></span>
	  <ul class="col-md-10 col-xs-10">
	  	<li class="selected"><a href="#0"><div class="image-icon"><img src="assets/img/lab/dev.svg" class="menuIcon"/></div><h6>Applications</h6></a></li>
		<li><a href="#multimedia"><div class="image-icon"><img src="assets/img/lab/music-player.svg" class="menuIcon"></div><h6>Multimedia</h6></a></li>
		<li><a href="#0"><div class="image-icon"><img src="assets/img/lab/approve.svg" class="menuIcon"></div><h6>TODO list</h6></a></li>
		<li><a href="#0"><div class="image-icon"><img src="assets/img/project/icon/email.svg" class="menuIcon"></div><h6>Contacts</h6></a></li>
	  </ul>
	  <div class="col-md-1 log_buttons">
		
			<span><a href="{{ path('security_login') }}"><div class="image-icon"><img src="assets/img/logo/login.svg" class="menuIcon"></div><h6 class="log">log in</h6></a></span>
		
		
	  </div>
	</nav> 
</div> <!-- .cd-slider-nav -->
	