{% extends 'base.html.twig' %}


{% block body %}
  	<div class="overlay"></div>
		
         <section class="cd-hero">
			{{ include('menu_nav.html')}}
			<ul class="cd-hero-slider">
				
			</ul> <!-- .cd-hero-slider -->
        </section> <!-- .cd-hero -->
         {{ include('footer.html')}}
  {% endblock %}   
  